<a href="https://colab.research.google.com/github/ElisaHK/KeplerH/blob/master/Variables_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity: Variables in Python

## Introduction

In this activity you will practice the following:
- Assigning specific values / types to variables
- Overwriting variables

#### Question 1

Create variable `name` and assign any value you want to it.

In [ ]:
# Your code here
# name = ...

# your 9code here

In [ ]:
# Question 1 Grading Checks

print('Make sure you created the variable: name')
print(name)

#### Question 2

Assign the value of `2.7` to the variable `seconds`.

In [ ]:
# Your code here

# your code here

In [ ]:
# Question 2 Grading Checks

assert isinstance(seconds, float), 'Have you assigned a float value to the variable seconds?'

#### Question 3

Assign boolean value `True` to the variable `python_is_fun`.

In [ ]:
# Your code here

# your code here

In [ ]:
# Question 3 Grading Checks

assert isinstance(python_is_fun, bool), 'Have you assigned a boolean value to the python_is_fun variable?'

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
employee = pd.read_csv("https://raw.githubusercontent.com/ddaeducation/DataAnalyst/main/employee_data.csv")

In [7]:
employee.tail(50)

                  Name  Years of Employment  Weeks of Vacation  Position
33         James Brown                   18                2.0  Engineer
34  Christopher Harris                    2                6.0    Intern
35          Jane Davis                    9                6.0  Engineer
36        Emily Miller                   20                6.0    Intern
37           Sarah Lee                   17                NaN    Intern
38         James Brown                    1                4.0  Engineer
39       James Jackson                   11                5.0    Intern
40       David Johnson                    8                NaN   Manager
41        Jane Jackson                    5                2.0    Intern
42       Michael Jones                    4                3.0   Analyst
43     Jennifer Harris                   11                6.0    Intern
44         David Moore                    3                5.0   Analyst
45       Sarah Jackson                   16                4.0    Intern
46         James Moore                    8                6.0  Engineer
47       Linda Jackson                   12                2.0   Analyst
48      Susan Anderson                    6                5.0    Intern
49       Robert Taylor                    9                2.0  Engineer
50        Emily Miller                   15                6.0   Manager
51          Jane Jones                    8                4.0   Manager
52         Emily Brown                    8                4.0    Intern
53       Robert Wilson                   18                2.0  Engineer
54         Jane Thomas                   15                2.0   Manager
55        Linda Thomas                   18                4.0  Engineer
56       Emily Jackson                    1                3.0   Manager
57        Robert Jones                   11                2.0    Intern
58      Michael Miller                    1                4.0   Analyst
59       Emily Johnson                    6                6.0  Engineer
60          Mary Smith                   18                NaN    Intern
61            Jane Lee                   19                2.0    Intern
62         William Lee                   15                4.0   Analyst
63         James Moore                   11                4.0  Engineer
64        Karen Miller                   15                6.0  Engineer
65      Michael Taylor                   14                5.0    Intern
66        David Taylor                   14                3.0   Manager
67         Emily Brown                   14                3.0  Engineer
68         Susan Jones                   17                5.0   Analyst
69         Mary Wilson                   11                2.0   Manager
70       Michael Jones                    6                5.0   Manager
71          John White                    1                3.0   Analyst
72     Jennifer Harris                    1                4.0    Intern
73         Emily White                   16                6.0    Intern
74        Daniel Moore                   13                4.0   Analyst
75                   1                   -1               43.0   Unknown
76                   1                   -5               51.0   Unknown
77                   1                   -3               40.0   Unknown
78                   1                    0               49.0   Unknown
79                   1                    0               47.0   Unknown
80                   1                   -5               46.0   Unknown
81                   1                   -4               52.0   Unknown
82                   1                    0               48.0   Unknown